{% extends 'base.html' %}

{% block body %}
<div class="container">
<h1 class="text-center mt-5">{{ job }}</h1>
<p class="text-center">Informações sobre esta vaga: </p>
<ul class="list-group mt-5">
    <p><a href="{% url 'Profile:jobs_available' %}"><b>Voltar</b></a></p>
    {% for k, v in job_fields.items %}
    <li class="list-group-item text-center">
        <b>{{k}}: </b> {{v|truncatechars:100}}
    </li>
    {% endfor %}
</ul>
{% if applicationIsValid %}
<p class="text-center"><a href="{% url 'Application:confirm' job.id %}"><button class="btn btn-success p-2 mt-3">Candidatar-se</button></a></p>
{% else %}
    <p class="text-center text-danger mt-5"><b>Você não pode se candidatar para esta vaga.</b></p>
{% endif %}
</div>
{% endblock %}