{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Vagas de Emprego</title> {% endblock %}

{% block body %}
<div class="container">
<h1 class="text-center mt-5">Vagas de emprego</h1>
{% if jobs %}
    <p class="text-center mt-3">Vagas de emprego disponíveis com base no seu perfil</p>
    <ul>
        {% for job in jobs %}
        <li> <a href="{% url 'Profile:job_detail' job.id %}">{{ job }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p class="h5 text-center mt-3">Até o momento não existe nenhuma vaga disponível com base no seu perfil.</p>
{% endif %}
<a href="{% url 'Profile:home' %}"><b>Voltar</b></a>
</div>
{% endblock %}