a { text-decoration: none; }


.option:hover { opacity: 50% }

.errorlist {
    background-color: red;
    font-weight: bold;
    font-size: 12px;
    color: white;
    padding: 4px;
    border-radius: 3px;
    text-align: center;
}

.successlist {
    background-color: rgb(0, 87, 25);
    font-weight: bold;
    font-size: 12px;
    color: white;
    padding: 4px;
    border-radius: 3px;
    text-align: center;
}

#ct {color: white}