{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Max Jobs</title>{% endblock %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'b_css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">
    {% block css %}{% endblock %}
    {% block style %} {% endblock %}
</head>
<body>
{% block nav %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a id="ct" class="nav-link h3" href="{% url 'Account:home' %}">MaxJobs</a>
          </li>
        </ul>
        <!-- Left links -->
        <div class="d-flex align-items-center">
          <a href="{% url 'Account:logout' %}">
          <button type="button" class="btn btn-danger me-3">
            Logout
          </button>
          </a>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
{% endblock %}
{% block body %}
{% endblock %}
</body>
</html>